.logo {
  color: white;
  height: 60px;
  font-weight: normal;
  font-size: x-large;
  text-align: center;
  padding-top: 15%;
}

.footer {
  text-align: center;
}

.content {
  margin: "0 16px";
}

.site-layout-background {
  padding: 0;
}
